@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Add an individual title to each page
    ViewData["Title"] = "Calculate Your Grade";
}

@model GradeCalculatorModel;

<h2>Grade Calculator</h2>
<p>Enter the percentage for each category</p>
<form method="post">
    <label>Assignments:</label>
    <input id="assignments" asp-for="Assignments"/><br />
    <label>Group Project:</label>
    <input id="groupProjects" asp-for="GroupProjects"/><br />
    <label>Quizzes:</label>
    <input id="quizzes" asp-for="Quizzes"/><br />
    <label>Midterm Exam:</label>
    <input id="midterm" asp-for="Midterm"/><br />
    <label>Final Exam:</label>
    <input id="final" asp-for="Final"/><br />
    <label>INTEX:</label>
    <input id="intex" asp-for="Intex"/><br /><br />
    <input id="submit" type="submit" value="Calculate Grade" />
    <!-- p tag containing the output of the grade calculation -->
    <p id="jsOutput"></p>
    <div asp-validation-summary="All"></div>
</form>
<br />


<!-- script tags for my js program, bootstrap, and jquery -->
<script src="js/Form.js"></script>