@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Grade Calculator</h2>
<p>Enter the percentage for each category</p>
<form>
    <label>Assignments:</label>
    <input id="assignments" /><br />
    <label>Group Project:</label>
    <input id="groupProjects" /><br />
    <label>Quizzes:</label>
    <input id="quizzes" /><br />
    <label>Midterm Exam:</label>
    <input id="midterm" /><br />
    <label>Final Exam:</label>
    <input id="final" /><br />
    <label>INTEX:</label>
    <input id="intex" /><br /><br />
    <input id="submit" type="button" value="Calculate Grade" />
    <!-- p tag containing the output of the grade calculation -->
    <p id="jsOutput"></p>
</form>
<br />


<!-- script tags for my js program, bootstrap, and jquery -->
<script src="js/Form.js"></script>