@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5 HomePage";
}




<!-- Header that lists your preferred name -->
<h1>Alli Pope</h1>
<br />


<!-- A picture of yourself doing something you enjoy -->
<img src="img/me.jpg" />
<br /><br />


<!-- A paragraph on what you hope to get out of this IS 413 class -->
<p>
    I'm simultaneously really excited and intimidated by this class.
    I have done quite a bit with Python and JavaScript in the IS core so far, but we have
    yet to touch a true  strongly-typed language. It's always been something I've been intimidated
    by, but I know it's a super important skill. So even though this class is well outside
    my comfort zone, I'm excited to grow as a programmer and learn a
    strongly-typed language for the first time.
</p>
<br />


<!-- A list of the Top #3 jobs you are most interested in pursuing when you graduate -->
<p>Jobs I'm most interested in:</p>
<ul>
    <li>Software Developer</li>
    <li>Data Analyst</li>
    <li>Security</li>
</ul>
<br />
